<p>
  <b>Username:</b>
  <%= username %>
</p>

<p>
  <b>Masinhvien:</b>
  <%= masinhvien %>
</p>

<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Id:</b>
  <%= id %>
</p>

<a href="#/index">Back</a>